body{
  height: 100%;
  width: 100%;
  background-color: rgb(219, 216, 216);
}
header{
  display: flex;
  justify-content: center;
  gap: 2em;
}
#lefteye{
  margin-top: 2em;
  border: 2px solid black;
  height: 60px;
  width: 80px;
  border-radius: 15% 50% ;
  position: relative;
  overflow: hidden;
  justify-self: center;
  box-shadow: 0px -1px 4px 2px black;
  transform: rotateZ(5deg);
}

#lefteyeball{
  height: 40px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 35px;
  box-shadow: 0px 0px 2px 2px rgb(68, 130, 228);
  transform: rotateZ(-5deg);
}

#righteye{
  margin-top: 2em;
  border: 2px solid black;
  height: 60px;
  width: 80px;
  border-radius: 50% 15%;
  position: relative;
  overflow: hidden;
  justify-self: center;
  box-shadow: 0px -1px 4px 2px black;
  transform: rotateZ(-5deg);
}

#righteyeball{
  height: 40px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 20px;
  right: 32px;
  box-shadow: 0px 0px 2px 2px rgb(68, 130, 228);
  transform: rotateZ(5deg);
}